<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>about</title>
    <!-- favicon -->
    <link rel="icon" href="images/logo.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/css/all.css">

</head>

<body>
    <!-- <header> -->
    <header class="padding-header" id="header">
        <div class="container">
            <div class="inner-header">
                <div class="logo">
                    <a href="./landing-page.html"><img src="./assets/images/Group 1429918.svg"></a>
                </div>
                <nav id="nav" class="menusflex">
                    <ul>
                        <li class="active">
                            <a href="index.html">HOME</a>
                        </li>
                        <li>
                            <a href="about.html">ABOUT</a>
                        </li>
                        <li>
                            <a href="refrence.html">CONTACT</a>
                        </li>
                        <li>
                            <a href="job-seaker.html">SERVICES</a>
                        </li>
                    </ul>
                </nav>
                <div class="quote-btn">
                    <a href="#."><img src="./assets/images/login.png">LOGIN</a> /
                    <a href="#.">SIGN-UP</a>
                </div>
                <div class="three col">
                    <div class="hamburger" id="hamburger-6">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->
    <!-- main -->
    <main>
        <!-- banner -->
        <section class="about-banner">
            <div class="container">
                <div class="about-banner-main">
                    <div class="about-b-text">
                        <h2>About Us</h2>
                        <div class="about-link">
                            <a href="#.">Home /</a>
                            <a href="#.">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner -->
        <!-- about -->
        <section class="findings-wrap">
            <div class="container">
                <div class="findings-main">
                    <div class="finding-text">
                        <h2>Our Story Verbiage</h2>
                        <div class="para-main">
                            <p>Chirrrp was founded with the goal of matching talent & employers based on more than just
                                skill-set! We're here for you every step of the way when it comes to getting hired &
                                making
                                hires. Our team specializes in Technology, Marketing, Creative & Business, but that's
                                not
                                why people love us.
                            </p>
                            <p>
                                We EXCEL in creating long-term & meaningful employer & talent partnerships...
                                That's why people love Chirrrp!
                            </p>
                        </div>
                    </div>
                    <div class="finding-img">
                        <img src="./assets/images/ban.png">
                    </div>
                </div>
            </div>
        </section>
        <!-- about -->
        <!-- finding your next hire -->
        <section class="finding-wrap">
            <div class="container">
                <div class="finding-main">
                    <div class="finding-img">
                        <img src="./assets/images/find.png">
                    </div>
                    <div class="finding-text">
                        <h2>Finding Your Next Hire Shouldn't Be Stressful!</h2>
                        <div class="f-ul-main">
                            <ul>
                                <li><span>The First Staffing Company was Founded in 1906</span>
                                    with the goal of connecting talent & employers together.
                                    Since then, over 20,000 Staffing agencies have been founded
                                    in the US.
                                </li>
                                <li><span>Not Much Has Changed since 1906!</span>
                                    Many Staffing & Recruiting companies follow the same hiring-process
                                    model that was used over 100 years ago. Oftentimes, internal recruiters
                                    may not know exactly what you?re looking for in terms of getting
                                    your next all-star hire.
                                </li>
                                <li><span>The First Staffing Company was Founded in 1906</span>
                                    Until Now! Chirrrp Staffing & Recruiting has modernized & gamified the
                                    staffing process. Our team has reimagined the way employers
                                    connect with employees using our Hybrid Chirrrp Matching System.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- finding your next hire -->
        <!-- about -->
        <section class="findings-wrap">
            <div class="container">
                <div class="findings-main">
                    <div class="finding-text">
                        <h2>Looking For a New Job Shouldn't be a FULL-TIME Job!</h2>
                        <div class="f-ul-main">
                            <ul>
                                <li><span>Let's be Honest...</span>
                                    Finding a new career is scary, time-consuming & stressful. You go
                                    through the same boring interviews where you don't understand much
                                    about the company or who is interviewing you.
                                </li>
                                <li><span>Even Worse?</span>
                                    You're worried about your current company finding out that you?re
                                    searching for a new job making the process awkward &
                                    potentially more stressful.
                                </li>
                                <li><span>The First Staffing Company was Founded in 1906</span>
                                    Until Now! Chirrrp Staffing & Recruiting has modernized & gamified the
                                    staffing process. Our team has reimagined the way employers
                                    connect with employees using our Hybrid Chirrrp Matching System.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="finding-img">
                        <img src="./assets/images/new-lob.png">
                    </div>
                </div>
            </div>
        </section>
        <!-- about -->
        <!-- how it works -->
        <section class="how-it-work">
            <div class="container">
                <div class="how-text">
                    <h2>How it works</h2>
                </div>
                <div class="answer-your-questions-content">
                    <div class="questions-answer">
                        <div class="question">
                            <h4>Q. What is SEO and does my business need SEO?</h4>
                            <div class="open-close">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="answer">
                            <p>
                                Search Engine Optimization is the practice of ranking a website. Yes, your business
                                should be
                                investing in SEO. Search engine optimization offers a way to increase traffic without
                                paying
                                for each and every click.</a>
                            </p>
                        </div>
                    </div>
                    <div class="questions-answer">
                        <div class="question">
                            <h4>Q. What are Google's most important ranking factors?</h4>
                            <div class="open-close">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="answer">
                            <p>
                                Search Engine Optimization is the practice of ranking a website. Yes, your business
                                should be
                                investing in SEO. Search engine optimization offers a way to increase traffic without
                                paying
                                for each and every click.</a>
                            </p>
                        </div>
                    </div>
                    <div class="questions-answer">
                        <div class="question">
                            <h4>Q. What is the difference between On-Page SEO and technical SEO?</h4>
                            <div class="open-close">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="answer">
                            <p>
                                Search Engine Optimization is the practice of ranking a website. Yes, your business
                                should be
                                investing in SEO. Search engine optimization offers a way to increase traffic without
                                paying
                                for each and every click.</a>
                            </p>
                        </div>
                    </div>
                    <div class="questions-answer">
                        <div class="question">
                            <h4>Q. Does social media help to increase my website's rank?</h4>
                            <div class="open-close">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="answer">
                            <p>
                                Search Engine Optimization is the practice of ranking a website. Yes, your business
                                should be
                                investing in SEO. Search engine optimization offers a way to increase traffic without
                                paying
                                for each and every click.</a>
                            </p>
                        </div>
                    </div>
                    <div class="questions-answer">
                        <div class="question">
                            <h4>Q. How do I create SEO-friendly content?</h4>
                            <div class="open-close">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="answer">
                            <p>
                                Search Engine Optimization is the practice of ranking a website. Yes, your business
                                should be
                                investing in SEO. Search engine optimization offers a way to increase traffic without
                                paying
                                for each and every click.</a>
                            </p>
                        </div>
                    </div>
                    <div class="questions-answer">
                        <div class="question">
                            <h4>Q. Why has my organic traffic dropped?</h4>
                            <div class="open-close">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="answer">
                            <p>
                                Search Engine Optimization is the practice of ranking a website. Yes, your business
                                should be
                                investing in SEO. Search engine optimization offers a way to increase traffic without
                                paying
                                for each and every click.</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- how it works -->
    </main>
    <!-- main -->
    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="footer-quiz">
                <h6>Want to get hired or make A hire? </h6>
                <a href="#">take the quiz</a>
            </div>
            <div class="footer-flex flex">
                <div class="footer-pages footer-data flex">
                    <ul>
                        <li> <a href="#">Company</a> </li>
                        <li> <a href="#">About</a> </li>
                        <li> <a href="#">Features</a> </li>
                        <li> <a href="#">Works</a> </li>
                        <li> <a href="#">Career</a> </li>
                    </ul>
                </div>
                <div class="social-links footer-data flex">
                    <ul>
                        <li> <a href="#">Help</a> </li>
                        <li> <a href="#">Customer Support</a> </li>
                        <li> <a href="#">Delivery Details</a> </li>
                        <li> <a href="#">Terms & Conditions</a> </li>
                        <li> <a href="#">Privacy Policy</a> </li>
                    </ul>
                </div>
                <div class="footer-pages footer-data flex">
                    <ul>
                        <li> <a href="#">Resources</a> </li>
                        <li> <a href="#">Free eBooks</a> </li>
                        <li> <a href="#">Development Tutorial</a> </li>
                        <li> <a href="#">How to - Blog</a> </li>
                        <li> <a href="#">Youtube Playlist</a> </li>
                    </ul>
                </div>
                <div class="footer-pages footer-data flex">
                    <ul>
                        <li> <a href="#">Extra Links</a> </li>
                        <li> <a href="#">Customer Support</a> </li>
                        <li> <a href="#">Delivery Details</a> </li>
                        <li> <a href="#">Terms & Conditions</a> </li>
                        <li> <a href="#">Privacy Policy</a> </li>
                    </ul>
                </div>
            </div>
            <div class="footer-last flex">
                <div class="footer-logo">
                    <img src="./assets/images/footer-logo.svg">
                </div>
                <p>Copyright © 2022, chirrrp.</p>
                <div class="Privacy flex">
                    <a href="#"><img src="./assets/images/1.svg"></a>
                    <a href="#"><img src="./assets/images/2.svg"></a>
                    <a href="#"><img src="./assets/images/3.svg"></a>
                    <a href="#"><img src="./assets/images/4.svg"></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->

    <!-- jQuery Version 3.2.1 -->
    <script src="./assets/js/jquery.min.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- custom js -->
    <script src="./assets/js/custom.js"></script>
</body>

</html>