<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>job-seaker</title>
    <!-- favicon -->
    <link rel="icon" href="images/logo.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/css/all.css">

</head>

<body>
    <!-- <header> -->
    <header class="padding-header" id="header">
        <div class="container">
            <div class="inner-header">
                <div class="logo">
                    <a href="./landing-page.html"><img src="./assets/images/Group 1429918.svg"></a>
                </div>
                <nav id="nav" class="menusflex">
                    <ul>
                        <li class="active">
                            <a href="index.html">HOME</a>
                        </li>
                        <li>
                            <a href="about.html">ABOUT</a>
                        </li>
                        <li>
                            <a href="refrence.html">CONTACT</a>
                        </li>
                        <li>
                            <a href="job-seaker.html">SERVICES</a>
                        </li>
                    </ul>
                </nav>
                <div class="quote-btn">
                    <a href="#."><img src="./assets/images/login.png">LOGIN</a> /
                    <a href="#.">SIGN-UP</a>
                </div>
                <div class="three col">
                    <div class="hamburger" id="hamburger-6">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->
    <!-- main -->
    <main>
        <!-- banner -->
        <section class="about-banner">
            <div class="container">
                <div class="about-banner-main">
                    <div class="about-b-text">
                        <h2>Services</h2>
                        <div class="about-link">
                            <a href="#.">Services /</a>
                            <a href="#.">Job-Seeker Reference Guide</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner -->
        <!-- job-seaker -->
        <section class="job-seaker">
            <div class="container">
                <div class="job-s-main">
                    <div class="seaker-div">
                        <h2>Job-Seeker Costs & Agreement</h2>
                        <p>Signing up & utilizing the Chirrrp Matching system is completely free
                            of cost for both employers & talent! There is absolutely no cost
                            involved for talent looking to find a new career.</p>
                        <a href="#.">Keep reading</a>
                    </div>
                    <div class="seakers-div">
                        <h2>Contracted VS Direct-Placement</h2>
                        <p>Berechtigungen und GerOur Chirrrp website is currently built for
                            direct-placement/non-contracted hiring needs. Our team does have
                            the ability to create a contract-to-hire hiring plan if your
                            needs require it.</p>
                        <a href="#.">Keep reading</a>
                    </div>
                </div>
                <div class="seake-div">
                    <h2>Cloud Telefonie</h2>
                    <p>Our Chirrrp website is currently built for direct-placement/non-contracted
                        hiring needs. Our team does have the ability to create a contract-to-hire
                        hiring plan if your needs require it. Please Contact us if you prefer a
                        contract-to-hire position as opposed to direct-placement. </p>
                </div>
                <div class="seak-div">
                    <h2>Dokumentenmanagement</h2>
                    <p>Job-Seekers choose to work with Chirrrp because of our belief that matching
                        with employers should be more than just their salary & needs. We provide
                        the tools to get to know a little more about your next potential company
                        & manager before you even sit down to interview with them.</p>
                    <a href="#.">Keep reading</a>
                </div>
            </div>
        </section>
        <!-- job-seaker -->
    </main>
    <!-- main -->
    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="footer-quiz">
                <h6>Want to get hired or make A hire? </h6>
                <a href="#">take the quiz</a>
            </div>
            <div class="footer-flex flex">
                <div class="footer-pages footer-data flex">
                    <ul>
                        <li> <a href="#">Company</a> </li>
                        <li> <a href="#">About</a> </li>
                        <li> <a href="#">Features</a> </li>
                        <li> <a href="#">Works</a> </li>
                        <li> <a href="#">Career</a> </li>
                    </ul>
                </div>
                <div class="social-links footer-data flex">
                    <ul>
                        <li> <a href="#">Help</a> </li>
                        <li> <a href="#">Customer Support</a> </li>
                        <li> <a href="#">Delivery Details</a> </li>
                        <li> <a href="#">Terms & Conditions</a> </li>
                        <li> <a href="#">Privacy Policy</a> </li>
                    </ul>
                </div>
                <div class="footer-pages footer-data flex">
                    <ul>
                        <li> <a href="#">Resources</a> </li>
                        <li> <a href="#">Free eBooks</a> </li>
                        <li> <a href="#">Development Tutorial</a> </li>
                        <li> <a href="#">How to - Blog</a> </li>
                        <li> <a href="#">Youtube Playlist</a> </li>
                    </ul>
                </div>
                <div class="footer-pages footer-data flex">
                    <ul>
                        <li> <a href="#">Extra Links</a> </li>
                        <li> <a href="#">Customer Support</a> </li>
                        <li> <a href="#">Delivery Details</a> </li>
                        <li> <a href="#">Terms & Conditions</a> </li>
                        <li> <a href="#">Privacy Policy</a> </li>
                    </ul>
                </div>
            </div>
            <div class="footer-last flex">
                <div class="footer-logo">
                    <img src="./assets/images/footer-logo.svg">
                </div>
                <p>Copyright © 2022, chirrrp.</p>
                <div class="Privacy flex">
                    <a href="#"><img src="./assets/images/1.svg"></a>
                    <a href="#"><img src="./assets/images/2.svg"></a>
                    <a href="#"><img src="./assets/images/3.svg"></a>
                    <a href="#"><img src="./assets/images/4.svg"></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->

    <!-- jQuery Version 3.2.1 -->
    <script src="./assets/js/jquery.min.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- custom js -->
    <script src="./assets/js/custom.js"></script>
</body>

</html>