<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>refrence</title>
    <!-- favicon -->
    <link rel="icon" href="images/logo.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/css/all.css">

</head>

<body>
    <!-- <header> -->
    <header class="padding-header" id="header">
        <div class="container">
            <div class="inner-header">
                <div class="logo">
                    <a href="./landing-page.html"><img src="./assets/images/Group 1429918.svg"></a>
                </div>
                <nav id="nav" class="menusflex">
                    <ul>
                        <li class="active">
                            <a href="index.html">HOME</a>
                        </li>
                        <li>
                            <a href="about.html">ABOUT</a>
                        </li>
                        <li>
                            <a href="refrence.html">CONTACT</a>
                        </li>
                        <li>
                            <a href="job-seaker.html">SERVICES</a>
                        </li>
                    </ul>
                </nav>
                <div class="quote-btn">
                    <a href="#."><img src="./assets/images/login.png">LOGIN</a> /
                    <a href="#.">SIGN-UP</a>
                </div>
                <div class="three col">
                    <div class="hamburger" id="hamburger-6">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->
    <!-- main -->
    <main>
        <!-- banner -->
        <section class="about-banner">
            <div class="container">
                <div class="about-banner-main">
                    <div class="about-b-text">
                        <h2>Services</h2>
                        <div class="about-link">
                            <a href="#.">Services /</a>
                            <a href="#.">Employer Reference Guide</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner -->
        <!-- refrence -->
        <section class="refrences">
            <div class="container">
                <div class="refrence-main">
                    <div class="refrence-text">
                        <span>Employer Costs & Agreement</span>
                        <h2>Signing up & utilizing the Chirrrp Matching system</h2>
                        <p>Signing up & utilizing the Chirrrp Matching system is completely free of
                            cost for both employers & talent! We believe in creating partnerships,
                            not contracts which is why we're a risk-free, no upfront-cost Staffing
                            service</p>
                        <a href="#.">Read more<img src="./assets/images/right.svg"></a>
                    </div>
                    <div class="refrence-text">
                        <span>Employer Costs & Agreement</span>
                        <div class="ref-t">
                            <p>Our Chirrrp website is currently built for direct-placement/non-contracted
                                hiring needs. Our team does have the ability to create a contract-to-hire
                                hiring plan if your needs require it. Please Contact us for any contracted
                                hiring needs & we'll be more than happy to curate a plan for your team.</p>
                        </div>
                    </div>
                    <div class="refrence-text">
                        <span>We Respect Your Privacy</span>
                        <div class="ref-t">
                            <p>Signing up with Chirrrp doesn't mean that your data & information is
                                immediately accessible to any talent or 3rd party companies. All sensitive
                                information such as your email, phone number, last name etc. are not
                                provided to the talent unless you provide it to them yourself.</p>
                            <a href="#.">Read more<img src="./assets/images/right.svg"></a>
                        </div>
                    </div>
                    <div class="refrence-text">
                        <span>The Chirrrp Difference</span>
                        <div class="ref-t">
                            <p>Signing up with Chirrrp doesn't mean that your data & information is
                                immediately accessible to any talent or 3rd party companies. All sensitive
                                information such as your email, phone number, last name etc. are not
                                provided to the talent unless you provide it to them yourself.</p>
                            <a href="#.">Read more<img src="./assets/images/right.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- refrence -->
    </main>
    <!-- main -->
    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="footer-quiz">
                <h6>Want to get hired or make A hire? </h6>
                <a href="#">take the quiz</a>
            </div>
            <div class="footer-flex flex">
                <div class="footer-pages footer-data flex">
                    <ul>
                        <li> <a href="#">Company</a> </li>
                        <li> <a href="#">About</a> </li>
                        <li> <a href="#">Features</a> </li>
                        <li> <a href="#">Works</a> </li>
                        <li> <a href="#">Career</a> </li>
                    </ul>
                </div>
                <div class="social-links footer-data flex">
                    <ul>
                        <li> <a href="#">Help</a> </li>
                        <li> <a href="#">Customer Support</a> </li>
                        <li> <a href="#">Delivery Details</a> </li>
                        <li> <a href="#">Terms & Conditions</a> </li>
                        <li> <a href="#">Privacy Policy</a> </li>
                    </ul>
                </div>
                <div class="footer-pages footer-data flex">
                    <ul>
                        <li> <a href="#">Resources</a> </li>
                        <li> <a href="#">Free eBooks</a> </li>
                        <li> <a href="#">Development Tutorial</a> </li>
                        <li> <a href="#">How to - Blog</a> </li>
                        <li> <a href="#">Youtube Playlist</a> </li>
                    </ul>
                </div>
                <div class="footer-pages footer-data flex">
                    <ul>
                        <li> <a href="#">Extra Links</a> </li>
                        <li> <a href="#">Customer Support</a> </li>
                        <li> <a href="#">Delivery Details</a> </li>
                        <li> <a href="#">Terms & Conditions</a> </li>
                        <li> <a href="#">Privacy Policy</a> </li>
                    </ul>
                </div>
            </div>
            <div class="footer-last flex">
                <div class="footer-logo">
                    <img src="./assets/images/footer-logo.svg">
                </div>
                <p>Copyright © 2022, chirrrp.</p>
                <div class="Privacy flex">
                    <a href="#"><img src="./assets/images/1.svg"></a>
                    <a href="#"><img src="./assets/images/2.svg"></a>
                    <a href="#"><img src="./assets/images/3.svg"></a>
                    <a href="#"><img src="./assets/images/4.svg"></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->

    <!-- jQuery Version 3.2.1 -->
    <script src="./assets/js/jquery.min.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- custom js -->
    <script src="./assets/js/custom.js"></script>
</body>

</html>