.matches__content{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    height: calc(100% - 76px);
    
    .match__title{
        margin-right: 12px;
        margin-left: 12px;
    }
    .search__box{
        margin-right: 12px;
        margin-left: 12px;
        margin-top: 20px;
    }

    &-box{
        height: 100%;
        width: calc(50% - 12px);
        padding-left: 0;
        padding-right: 0;

        
        &-check{
            width: 13px;
            height: 13px;
            display: block;
            margin-left: 10px;
            position: relative;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input[type="checkbox"]{
                position: absolute;
                left: 0px;
                top: 0;
                z-index: 9;
                cursor: pointer;
                margin: 0;
                opacity: 0;

                &:checked ~ .checkmark {
                    background-color: #884AB5;

                    &:after{
                        display: block;
                    }
                }
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 13px;
                width: 13px;
                background-color: rgba(169, 173, 194, 0.22);
                border-radius: 2px;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 4px;
                    top: 2px;
                    width: 4px;
                    height: 8px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(35deg);
                    -ms-transform: rotate(35deg);
                    transform: rotate(35deg);
                }
            }
        }

        & .member__table{
            

            .member__name{
                
                h4{
                    color: #1C2A3A;
                }
                h5{
                    color: #445668;
                }
            }


            td{
                color: #1C2A3A;
            }
        } 
        .all__members{
            margin-top: 20px;
        }
        & .view__detail-btn{
            text-align: center;
            margin-right: 10px;

            a{
                font-size: 12px;
                color: #3D70E0;
                text-decoration: underline;
                
            }
        }
        & .view__detail-btn.reffer__btn{

            a{
                padding: 8px 15px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                background: rgba(136, 74, 181, 0.94);
                border-radius: 4px;
                color: #fff;
                text-decoration: none;
            }
        }
    }


    .matches__btn{
        gap: 10px;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 20px;

        .btn{
            width: calc(50% - 10px);
        }
    }
}


.drag__slider{
    cursor: url(../../assets/img/drag-icon.png), auto ;
    overflow: hidden;
} 
// .swiper {
//     width: 340px;
//     height: 480px;
// }
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide-shadow{
    background: transparent !important;
}

.user__popup{

    visibility: hidden;
    opacity: 0;

    &.visible{
        visibility: visible;
        opacity: 1;
    }
    & .avatar__upload .avatar__preview{
        width: 150px;
        height: 150px;
    }
    & .employee__form{
        gap: 15px;
    }

    &-content{
        background: #FFFFFF;
        border-radius: 13px 13px 0px 0px;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 800px;
        margin: auto;
        padding: 0 30px 30px;
        height: max-content;
    }
    &-overlay{
        background: #31415D;
        opacity: 0.8;
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}


.member__info {
    align-items: center;
}
.member__img{
    display: flex;
    align-items: center;
}