.fw__700{
    font-weight: 700;
}
.hidden__fieldsWrapper{
    display: none;
    margin-bottom: 10px;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=radio]{
    cursor: pointer;
}
.crafting__form{
    h1{
        font-family: 'Bellota Text';
    }
    form {
        fieldset[data-behaviour=toggle]{
            border-bottom: 1px solid rgba(0,0,0,.4);
            cursor: pointer;
        }
        fieldset:not(:last-child){
            margin-bottom: 35px;
        }
        input{
            border: none;
            background: none;
            outline: none;
            border-bottom: 1px solid rgba(0,0,0,.4);
            padding: 10px;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
            color: #8893A5;
        }
        input::placeholder{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #8893A5;
        }
        .hieen__fieldsLabel{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
            color: #8893A5;
            width: 100%;
            position: relative;
            padding: 10px;
            @media(max-width: 640px){
                font-size: 14px;
            }
            &::after{
                content: '';
                position: absolute;
                top: 12px;
                right: 15px;
                height: 10px;
                width: 10px;
                border-top: 1.5px solid rgba(0,0,0,.4);
                border-left: 1.5px solid rgba(0,0,0,.4);
                transform: rotate(-136deg);
                transition: all 0.4s ease;
                @media(max-width: 640px){
                    right: 0;
                }
            }
        }
        .fild__checkbox_area{
            position: relative;
            input{
                opacity: 0;
                position: absolute;
                left: 0;
            }
        }
        .filedStyle__BUttons{
            label{
                background-color: #535353;
                padding: 10px 21px;
                font-family: 'Inter';
                font-weight: 400;
                font-size: 16px;
                line-height: 90.02%;
                color: var(--white-color);
                border-radius: 10px;
                display: inline-block;
                cursor: pointer;
            }
            & input:checked + label{
                background-color: var(--black-color);
            }
            .hidden_flex_holder{
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
                padding: 10px;
            }
        } 
        fieldset[data-behaviour=toggle].active__fieldSets{
            transition: all 0.4s ease;
            & *:not(input){
                transition: all 0.4s ease;
            }
            .hieen__fieldsLabel{
                color: #374151;
                &::after{
                    border-color: #374151;
                    transform: rotate(45deg);
                }
            }
        }
        .filedStyle__dropDown{
            label{
                font-family: 'Roboto';
                font-weight: 500;
                font-size: 20px;
                line-height: 103.19%;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                opacity: 0.8;
                -webkit-text-stroke: 0.5px #000000;
                color: transparent;
                width: 100%;
                display: block;
                padding-bottom: 7px;
                width: 100%;
                max-width: 100%;
                cursor: pointer;
            }
            .fild__checkbox_area{
                width: 100%;
                max-width: 100%;
                text-align: center;
            }
            & input:checked + label{
                color: var(--gunmetal-color);
                border-bottom: 1px solid #000000;
            }
            .hidden_flex_holder{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 7px;
                justify-content: center;
                align-items: center;
            }
        }
    }
}